{% load static %}

<!-- <link rel="stylesheet" type="text/css" href="{% static 'feny/style.css' %}"> -->

<!DOCTYPE html>
<html>
<head>
	<title>BH Studios</title>
	<link rel="stylesheet" type="text/css" href="{% static 'feny/style.css' %}">	
</head>
<body>
	<header>
		<div class="main">
			<div class="search">
				<form method="get">
					<h1> Find EveryThing Near You</h1>
					<div class="form-box">
					<input type="text" class="search-field business" name="business"
					placeholder="Business, Food, Services..">
					<input type="text" class="search-field location" name="location"
					placeholder="Location">
					<button class ="search-btn" type="submit">Search</button>
				</div>
				</form>
			</div>
			<div class="button">
				<a href="#" class="btn"> Restaurant</a>
				<a href="#" class="btn">NightLife</a>
				<a href="#" class="btn"> Home Services</a>
				<a href="#" class="btn">Delivery</a>
				
			</div>
			<div class= "login">
				<ul>
					{% if user.is_authenticated %}
						Hi {{ user.username }}!
						<p><a href="{% url 'logout' %}">logout</a></p>
					{% else %}
						<li><a href="accounts/login">Login</a></li>
						<li><a href="signup">SignUp</a></li>
					{% endif %}
				</ul>
			</div>
			<ul>
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">Write a Review</a></li>
				<li><a href="#">Events</a></li>
				<li><a href="#">Talk</a></li>
			</ul>
			
			

			
		</div>
	</header>
</body>
</html>