<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>My Chart.js Chart</title>
</head>
<body>
  <div class="button">
        <a href="/feny/linechart3" class="btn"> Go Back</a>
        <a href="/feny/linechart5" class="btn" span style="float:right">Next</span></a>
         </div>
  <div class="container">
    <canvas id="lc4"></canvas>
        

  </div>
  <div>
    <canvas id="mylc4"></canvas>
  </div>

  <script>
    let myChart = document.getElementById('lc4').getContext('2d');

    // Global Options
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';
    var a = {{ data | safe}};
    var labels = {{labels|safe}};
    var display_format = {{display_format|safe}};
    var title = {{title|safe }};
    let massPopChart = new Chart(myChart, {
      type:'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        datasets:[{
          label: labels[0],
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(255, 99, 132, 0.6)'
          ],
          pointRadius:0,
          borderWidth:1,
          borderColor:'rgba(255, 99, 132, 1)',
          hoverBorderWidth:1,
          hoverBorderColor:'rgba(255, 99, 132, 1)',
          fill: false,
          data: a[0]
        },
        {
          label:labels[1],
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(153, 102, 255, 0.6)'
          ],
          borderWidth:1,
          pointRadius:0,
          borderColor:'rgba(153, 102, 255, 1)',
          hoverBorderWidth:1,
          hoverBorderColor:'#000',
          fill: false,
          data: a[1]
        },
        {
          label:labels[2],
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(75, 192, 192, 0.6)'
          ],
          borderWidth:1,
          pointRadius:0,
          borderColor:'rgba(75, 192, 192, 1)',
          hoverBorderWidth:1,
          hoverBorderColor:'#000',
          fill: false,
          data: a[2]
        },
        {
          label:labels[3],
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(255, 206, 86, 0.6)'
          ],
          borderWidth:1,
          pointRadius:0,
          borderColor:'rgba(255, 206, 86, 1)',
          hoverBorderWidth:1,
          hoverBorderColor:'#000',
          fill: false,
          data: a[3]
        },
        {
          label:labels[4],
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(54, 162, 235, 0.6)'
          ],
          borderWidth:1,
          pointRadius:0,
          borderColor:'rgba(54, 162, 235, 1)',
          hoverBorderWidth:1,
          hoverBorderColor:'#000',
          fill: false,
          data: a[4]
        },
        {
          label:labels[5],
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(255, 159, 64, 0.6)'
          ],
          borderWidth:1,
          pointRadius:0,
          borderColor:'rgba(255, 159, 64, 1)',
          hoverBorderWidth:1,
          hoverBorderColor:'#000',
          fill: false,
          data: a[5]
        }]
      },
      options:{
        scales: {
            xAxes: [{
                display: true,
                type: 'time',
                time: {
                    displayFormats: {
                        quarter: display_format[0]
                    }
                },
                distribution: 'linear',
                scaleLabel: {
                  display: true,
                  labelString: 'dates'
                }
            }],
            yAxes:[{
              display:true,
              type: 'linear',
              scaleLabel: {
                display: true,
                labelString: 'Average Rating'
              }
            }]
        },
        title:{
          display:true,
          text:title,
          fontSize:25
        },
        legend:{
          display:true,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        layout:{
          padding:{
            left:50,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });


  </script>

</body>
</html>
